.description2 {
  color: #ffffff;
  grid-area: d1;
  width: 100%;
}

.description2__artist {
  color: #aaaaaa;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  text-align: left;
  margin-top: 85px;
  margin-left: 0;
}

.description2__name {
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 122%;
  text-align: left;
  margin-top: 8px;
  margin-left: 0;
}
