.header {
  max-width: 254.84px;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.header__logo {
  width: 12.55%;
  max-height: 32px;
  margin-top: 34px;
  margin-left: 245.02%;
  margin-bottom: 0;
}

.header__vector {
  width: 100%;
  max-height: 14.84px;
  margin-top: 22px;
  margin-left: 201.3%;
}
