@media screen and (max-width: 768px) and (min-width: 545px) {
  .header {
    max-width: 254px;
    padding: 0;
    margin: 0;
  }

  .header__logo {
    width: 12.6%;
    height: 30.17px;
    margin-top: 30px;
    margin-left: 144.88%;
  }

  .header__vector {
    width: 100.33%;
    height: 14.09px;
    margin-top: 21.74px;
    margin-left: 101.02%;
  }

  .hometown {
    max-width: 720px;
  }

  .hometown__title {
    width: 73.61%;
    max-height: 158px;
    margin-top: 90px;
    margin-left: 19.86%;
    font-size: 75px;
    line-height: 105.33%;
  }

  .hometown__subtitle {
    width: 100%;
    max-height: 72px;
    margin-top: 25px;
    margin-left: 3.33%;
    font-size: 30px;
    line-height: 120%;
  }

  .picture {
    max-width: 768px;
  }

  .picture__image {
    width: 100%;
    max-height: 62.5%;
    margin-top: 30px;
    margin-left: 0;
    -o-object-fit: fill;
    object-fit: fill;
  }

  .article {
    max-width: 720px;
  }

  .article__title {
    width: 98.18%;
    max-height: 147px;
    margin-top: 90px;
    margin-left: 3.33%;
    font-size: 45px;
    line-height: 108.89%;
  }

  .article__quote {
    width: 100%;
    max-height: 136px;
    margin-top: 50px;
    margin-left: 3.33%;
    font-size: 24px;
    line-height: 141.66%;
  }

  .article__name-author {
    width: 100%;
    max-height: 34px;
    margin-top: -8px;
    margin-left: 3.33%;
    font-size: 24px;
    line-height: 141.66%;
  }

  .article__content {
    width: 100%;
    max-height: 182px;
    margin-top: 32px;
    margin-left: 3.33%;
    font-size: 16px;
    line-height: 163%;
  }

  .footer__copyright {
    max-height: 16px;
    margin-top: 88px;
    margin-left: 148%;
    font-size: 14px;
    line-height: 114.28%;
  }
}

@media screen and (max-width: 320px) {
  .header {
    max-width: 188px;
    padding: 0;
    margin: 0;
  }

  .header__logo {
    width: 12.6%;
    height: 23.77px;
    margin-top: 20px;
    margin-left: 78.81%;
  }

  .header__vector {
    width: 100.33%;
    height: 11.1px;
    margin-top: 17.13px;
    margin-left: 34.94%;
  }

  .hometown {
    max-width: 288px;
  }

  .hometown__title {
    width: 79.16%;
    max-height: 88px;
    margin-top: 50px;
    margin-left: 15.97%;
    font-size: 40px;
    line-height: 110%;
  }

  .hometown__subtitle {
    width: 100%;
    max-height: 40px;
    margin-top: 16px;
    margin-left: 5.55%;
    font-size: 16px;
    line-height: 125%;
  }

  .picture {
    max-width: 320px;
  }

  .picture__image {
    width: 100%;
    max-height: 62.5%;
    margin-top: 40px;
    margin-left: 0;
    -o-object-fit: fill;
    object-fit: fill;
  }

  .article {
    max-width: 288px;
  }

  .article__title {
    width: 100%;
    max-height: 175px;
    margin-top: 64px;
    margin-left: 5.55%;
    font-size: 32px;
    line-height: 109.375%;
  }

  .article__quote {
    width: 100%;
    max-height: 300px;
    margin-top: 40px;
    margin-left: 5.55%;
    font-size: 24px;
    line-height: 125%;
  }

  .article__name-author {
    width: 100%;
    max-height: 34px;
    margin-top: 10px;
    margin-left: 5.55%;
    font-size: 24px;
    line-height: 141.66%;
  }

  .article__content {
    width: 100%;
    max-height: 442px;
    margin-top: 32px;
    margin-left: 5.55%;
    font-size: 16px;
    line-height: 163%;
  }

  .footer__copyright {
    margin-top: 64px;
    max-height: 14px;
    margin-left: 32.47%;
    font-size: 14px;
    line-height: 100%;
  }
}

@media screen and (max-width: 544px) and (min-width: 471px) {
  .header {
    max-width: 221px;
  }

  .header__logo {
    width: 14.48%;
    height: 26.97px;
    margin-top: 25px;
    margin-left: 116.78%;
  }

  .header__vector {
    width: 115.31%;
    height: 12.59px;
    margin-top: 19.43px;
    margin-left: 72.9%;
  }

  .hometown {
    max-width: 504px;
  }

  .hometown__title {
    width: 75.2%;
    max-height: 123px;
    margin-top: 70px;
    margin-left: 20.34%;
    font-size: 57.5px;
    line-height: 106.96%;
  }

  .hometown__subtitle {
    width: 100%;
    max-height: 72px;
    margin-top: 20.5px;
    margin-left: 3.97%;
    font-size: 30px;
    line-height: 120%;
  }

  .picture {
    max-width: 544px;
  }

  .picture__image {
    width: 100%;
    max-height: 62.5%;
    margin-top: 35px;
    margin-left: 0;
    -o-object-fit: fill;
    object-fit: fill;
  }

  .article {
    max-width: 504px;
  }

  .article__title {
    width: 98.71%;
    max-height: 161px;
    margin-top: 77px;
    margin-left: 3.97%;
    font-size: 38.5px;
    line-height: 120.78%;
  }

  .article__quote {
    width: 100%;
    max-height: 218px;
    margin-top: 45px;
    margin-left: 3.97%;
    font-size: 24px;
    line-height: 141.67%;
  }

  .article__name-author {
    width: 100%;
    max-height: 34px;
    margin-top: 1px;
    margin-left: 3.97%;
    font-size: 24px;
    line-height: 141.67%;
  }

  .article__content {
    width: 100%;
    max-height: 312px;
    margin-top: 32px;
    margin-left: 3.97%;
    font-size: 16px;
    line-height: 163%;
  }

  .footer__copyright {
    max-height: 16px;
    margin-left: 90.2%;
    margin-top: 86px;
    font-size: 14px;
    line-height: 114.29%;
  }
}

@media screen and (max-width: 470px) and (min-width: 321px) {
  .header {
    max-width: 210.09px;
  }

  .header__logo {
    width: 15.3%;
    height: 25.912px;
    margin-top: 23.34px;
    margin-left: 105.55%;
  }

  .header__vector {
    width: 121.3%;
    height: 12.1px;
    margin-top: 18.67px;
    margin-left: 61.69%;
  }

  .hometown {
    max-width: 432.64px;
  }

  .hometown__title {
    width: 76.07%;
    max-height: 111.43px;
    margin-top: 63.39px;
    margin-left: 20.6%;
    font-size: 51.71px;
    line-height: 107.73%;
  }

  .hometown__subtitle {
    width: 100%;
    max-height: 61.42px;
    margin-top: 19.01px;
    margin-left: 4.32%;
    font-size: 25.37px;
    line-height: 121.04%;
  }

  .picture {
    max-width: 470px;
  }

  .picture__image {
    width: 100%;
    max-height: 62.5%;
    margin-top: 36.65px;
    margin-left: 0;
    -o-object-fit: fill;
    object-fit: fill;
  }

  .article {
    max-width: 432.64px;
  }

  .article__title {
    width: 98.99%;
    max-height: 165.62px;
    margin-top: 72.7px;
    margin-left: 4.32%;
    font-size: 36.35px;
    line-height: 117.46%;
  }

  .article__quote {
    width: 100%;
    max-height: 245.08px;
    margin-top: 43.34px;
    margin-left: 4.32%;
    font-size: 24px;
    line-height: 141.67%;
  }

  .article__name-author {
    width: 100%;
    max-height: 34px;
    margin-top: 3.97px;
    margin-left: 4.32%;
    font-size: 24px;
    line-height: 141.67%;
  }

  .article__content {
    width: 100%;
    max-height: 354.94px;
    margin-top: 32px;
    margin-left: 4.32%;
    font-size: 16px;
    line-height: 163%;
  }

  .footer__copyright {
    max-height: 14.66px;
    margin-top: 72px;
    margin-left: 71.13%;
    font-size: 14px;
    line-height: 100%;
  }
}

@media screen and (max-width: 665px) and (min-width: 545px) {
  .header {
    max-width: 238.82px;
  }

  .header__logo {
    width: 13.4%;
    height: 28.69px;
    margin-top: 27.7px;
    margin-left: 132.92%;
  }

  .header__vector {
    width: 106.71%;
    height: 13.4px;
    margin-top: 20.68px;
    margin-left: 89.06%;
  }

  .hometown {
    max-width: 620.67px;
  }

  .hometown__title {
    width: 74.2%;
    max-height: 141.9px;
    margin-top: 80.8px;
    margin-left: 20.4%;
    font-size: 66.95px;
    line-height: 105.97%;
  }

  .hometown__subtitle {
    width: 100%;
    max-height: 72px;
    margin-top: 22.93px;
    margin-left: 3.57%;
    font-size: 30px;
    line-height: 120%;
  }

  .picture {
    max-width: 665px;
  }

  .picture__image {
    width: 100%;
    max-height: 62.5%;
    margin-top: 32.29px;
    margin-left: 0;
    -o-object-fit: fill;
    object-fit: fill;
  }

  .article {
    max-width: 620.67px;
  }

  .article__title {
    width: 98.39%;
    max-height: 153.43px;
    margin-top: 84.02px;
    margin-left: 3.57%;
    font-size: 42px;
    line-height: 114%;
  }

  .article__quote {
    width: 100%;
    max-height: 173.7px;
    margin-top: 47.7px;
    margin-left: 3.57%;
    font-size: 24px;
    line-height: 141.67%;
  }

  .article__name-author {
    width: 100%;
    max-height: 34px;
    margin-top: -3.86px;
    margin-left: 3.57%;
    font-size: 24px;
    line-height: 141.67%;
  }

  .article__content {
    width: 100%;
    max-height: 241.77px;
    margin-top: 32px;
    margin-left: 3.57%;
    font-size: 16px;
    line-height: 163%;
  }

  .footer__copyright {
    max-height: 15.54px;
    margin-top: 82.48px;
    margin-left: 121.39%;
    font-size: 14px;
    line-height: 114.29%;
  }
}

@media screen and (max-width: 999px) and (min-width: 769px) {
  .header {
    max-width: 254.37px;
  }

  .header__logo {
    width: 12.58%;
    height: 30.99px;
    margin-top: 31.8px;
    margin-left: 189.97%;
  }

  .header__vector {
    width: 100.18%;
    height: 14.42px;
    margin-top: 21.9px;
    margin-left: 146.34%;
  }

  .hometown {
    max-width: 839.11px;
  }

  .hometown__title {
    width: 73.38%;
    max-height: 176.94px;
    margin-top: 90.47px;
    margin-left: 24.41%;
    font-size: 84.47px;
    line-height: 104.74%;
  }

  .hometown__subtitle {
    width: 85.81%;
    max-height: 72px;
    margin-top: 28.15px;
    margin-left: 16.62%;
    font-size: 30px;
    line-height: 120%;
  }

  .picture {
    max-width: 865.45px;
  }

  .picture__image {
    width: 100%;
    max-height: 62.5%;
    margin-top: 45.34px;
    margin-left: 7.71%;
    -o-object-fit: fill;
    object-fit: fill;
  }

  .article {
    max-width: 755.27px;
  }

  .article__title {
    width: 101%;
    max-height: 159.14px;
    margin-top: 90.9px;
    margin-left: 10.58%;
    font-size: 49px;
    line-height: 135.74%;
  }

  .article__quote {
    width: 96.4%;
    max-height: 135.84px;
    margin-top: 45.48px;
    margin-left: 10.58%;
    font-size: 24px;
    line-height: 141.67%;
  }

  .article__name-author {
    width: 96.05%;
    max-height: 34px;
    margin-top: 0.11px;
    margin-left: 10.58%;
    font-size: 24px;
    line-height: 141.67%;
  }

  .article__content {
    width: 95.45%;
    max-height: 181.79px;
    margin-top: 32px;
    margin-left: 10.58%;
    font-size: 16px;
    line-height: 163%;
  }

  .footer__copyright {
    max-height: 16px;
    margin-top: 89.8px;
    margin-left: 207.47%;
    font-size: 14px;
    line-height: 114.29%;
  }
}

@media screen and (max-width: 1100px) and (min-width: 1025px) {
  .header {
    max-width: 254.54px;
  }

  .header__logo {
    width: 12.57%;
    height: 32px;
    margin-top: 32.45px;
    margin-left: 209.64%;
  }

  .header__vector {
    width: 100.12%;
    height: 14.55px;
    margin-top: 21.96px;
    margin-left: 166.12%;
  }

  .hometown {
    max-width: 891.18px;
  }

  .hometown__title {
    width: 73.3%;
    max-height: 183.8px;
    margin-top: 90.65px;
    margin-left: 26.01%;
    font-size: 87.9px;
    line-height: 104.55%;
  }

  .hometown__subtitle {
    width: 80.79%;
    max-height: 72px;
    margin-top: 29.29px;
    margin-left: 21.32%;
    font-size: 30px;
    line-height: 120%;
  }

  .picture {
    max-width: 908.06px;
  }

  .picture__image {
    width: 100%;
    max-height: 62.5%;
    margin-top: 50.88px;
    margin-left: 10.57%;
    -o-object-fit: fill;
    object-fit: fill;
  }

  .article {
    max-width: 791.32px;
  }

  .article__title {
    width: 99.42%;
    max-height: 163.53px;
    margin-top: 91.22px;
    margin-left: 13.19%;
    font-size: 50.52px;
    line-height: 130.83%;
  }

  .article__quote {
    width: 92.46%;
    max-height: 135.79px;
    margin-top: 43.85px;
    margin-left: 13.19%;
    font-size: 24px;
    line-height: 141.67%;
  }

  .article__name-author {
    width: 91.97%;
    max-height: 33.94px;
    margin-top: 3.04px;
    margin-left: 13.19%;
    font-size: 24px;
    line-height: 141.67%;
  }

  .article__content {
    width: 91.15%;
    max-height: 181.71px;
    margin-top: 32px;
    margin-left: 13.19%;
    font-size: 16px;
    line-height: 163%;
  }

  .footer__copyright {
    max-height: 16px;
    margin-top: 90.59px;
    margin-left: 233.5%;
    font-size: 14px;
    line-height: 114.29%;
  }
}

@media screen and (max-width: 1024px) and (min-width: 1000px) {
  .header {
    max-width: 254.42px;
  }

  .header__logo {
    width: 12.58%;
    height: 31.08px;
    margin-top: 32px;
    margin-left: 195%;
  }

  .header__vector {
    width: 100.17%;
    height: 14.46px;
    margin-top: 21.92px;
    margin-left: 151%;
  }

  .hometown {
    max-width: 852px;
  }

  .hometown__title {
    width: 73.36%;
    max-height: 179px;
    margin-top: 90.53px;
    margin-left: 25%;
    font-size: 85.5px;
    line-height: 104.68%;
  }

  .hometown__subtitle {
    width: 84.51%;
    max-height: 72px;
    margin-top: 28.5px;
    margin-left: 18%;
    font-size: 30px;
    line-height: 120%;
  }

  .picture {
    max-width: 876px;
  }

  .picture__image {
    width: 100%;
    max-height: 62.5%;
    margin-top: 47px;
    margin-left: 8.44%;
    -o-object-fit: fill;
    object-fit: fill;
  }

  .article {
    max-width: 775px;
  }

  .article__title {
    width: 99.16%;
    max-height: 160.46px;
    margin-top: 91px;
    margin-left: 11%;
    font-size: 49.5px;
    line-height: 138.38%;
  }

  .article__quote {
    width: 94.06%;
    max-height: 135.86px;
    margin-top: 45px;
    margin-left: 11%;
    font-size: 24px;
    line-height: 141.67%;
  }

  .article__name-author {
    width: 93.68%;
    max-height: 33.95px;
    margin-top: 0.995px;
    margin-left: 11%;
    font-size: 24px;
    line-height: 141.67%;
  }

  .article__content {
    width: 93.03%;
    max-height: 181.77px;
    margin-top: 32px;
    margin-left: 11%;
    font-size: 16px;
    line-height: 163%;
  }

  .footer__copyright {
    max-height: 16px;
    margin-top: 90px;
    margin-left: 210.66%;
    font-size: 14px;
    line-height: 114.29%;
  }
}

@media screen and (max-width: 1500px) and (min-width: 1281px) {
  .header {
    max-width: 255.2px;
  }

  .header__logo {
    width: 12.54%;
    height: 32.86px;
    margin-top: 34px;
    margin-left: 287.29%;
  }

  .header__vector {
    width: 99.86%;
    height: 15.19px;
    margin-top: 22.27px;
    margin-left: 244.19%;
  }

  .hometown {
    max-width: 1097.44px;
  }

  .hometown__title {
    margin-top: 91.56px;
    margin-left: 30.87%;
    font-size: 106px;
    line-height: 103.78%;
  }
  .hometown__subtitle {
    width: 65.61%;
    max-height: 72px;
    margin-top: 35.3px;
    margin-left: 35.54%;
    font-size: 30px;
    line-height: 120%;
  }

  .picture {
    max-width: 1076.81px;
  }

  .picture__image {
    width: 100%;
    max-height: 62.5%;
    margin-top: 80.03px;
    margin-left: 19.65%;
    -o-object-fit: fill;
    object-fit: fill;
  }

  .article {
    max-width: 877.26px;
  }

  .article__title {
    width: 100.64%;
    max-height: 186.61px;
    margin-top: 92.94px;
    margin-left: 22.94%;
    font-size: 58.24px;
    line-height: 82.57%;
  }

  .article__quote {
    width: 85.01%;
    max-height: 135.5px;
    margin-top: 35.27px;
    margin-left: 22.94%;
    font-size: 24px;
    line-height: 141.67%;
  }

  .article__name-author {
    width: 84.03%;
    max-height: 33.86px;
    margin-top: 18.47px;
    margin-left: 22.94%;
    font-size: 24px;
    line-height: 141.67%;
  }

  .article__content {
    width: 82.4%;
    max-height: 181.32px;
    margin-top: 32px;
    margin-left: 22.94%;
    font-size: 16px;
    line-height: 163%;
  }

  .footer__copyright {
    max-height: 16px;
    margin-top: 93.72px;
    margin-left: 336.6%;
    font-size: 14px;
    line-height: 114.29%;
  }
}
