@media screen and (max-width: 768px) and (min-width: 545px) {
  .header {
    max-width: 254px;
    padding: 0;
    margin: 0;
  }

  .header__logo {
    width: 12.6%;
    height: 30.17px;
    margin-top: 30px;
    margin-left: 25%;
  }

  .header__vector {
    width: 100.33%;
    height: 14.09px;
    margin-top: 21.74px;
    margin-left: 25%;
  }

  .hometown {
    max-width: 720px;
  }

  .hometown__title {
    width: 73.61%;
    max-height: 158px;
    margin-top: 90px;
    margin-left: 19.86%;
    font-size: 75px;
    line-height: 105.33%;
  }

  .hometown__subtitle {
    width: 100%;
    max-height: 72px;
    margin-top: 25px;
    margin-left: 3.33%;
    font-size: 30px;
    line-height: 120%;
  }

  .picture {
    max-width: 768px;
  }

  .picture__image {
    width: 100%;
    max-height: 62.5%;
    margin-top: 30px;
    margin-left: 0;
    -o-object-fit: fill;
    object-fit: fill;
  }

  .article {
    max-width: 720px;
  }

  .article__title {
    width: 98.18%;
    max-height: 147px;
    margin-top: 90px;
    margin-left: 3.33%;
    font-size: 45px;
    line-height: 108.89%;
  }

  .article__quote {
    width: 100%;
    max-height: 136px;
    margin-top: 50px;
    margin-left: 3.33%;
    font-size: 24px;
    line-height: 141.66%;
  }

  .article__name-author {
    width: 100%;
    max-height: 34px;
    margin-top: -8px;
    margin-left: 3.33%;
    font-size: 24px;
    line-height: 141.66%;
  }

  .article__content {
    width: 100%;
    max-height: 182px;
    margin-top: 32px;
    margin-left: 3.33%;
    font-size: 16px;
    line-height: 163%;
  }

  .footer__copyright {
    max-height: 16px;
    margin-top: 88px;
    font-size: 14px;
    line-height: 114.28%;
    margin-left: 0;
  }

  .mosaic {
    max-width: 93.75%;
    margin-top: 64px;
    max-height: 1104px;
  }

  .mosaic__align {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    column-gap: 16px;
    row-gap: 16px;
    margin-left: 3.33%;
  }

  .mosaic__align_item {
    max-height: 264px;
    margin-left: 0;
  }

  .container {
    max-width: 720px;
    margin-top: 88px;
  }

  .cities1 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 116px 340px 179px;
    grid-template-areas: "title d1" "picture d2" "button d2";
    column-gap: 28px;
    margin-left: 3.33%;
  }

  .cities1__title {
    width: 98.266%;
    max-height: 46px;
    font-size: 42px;
    line-height: 109.52%;
    text-align: left;
    margin-top: 22px;
    margin-left: 0;
  }

  .cities1__picture {
    width: 98.266%;
    max-height: 340px;
    box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
  }

  .cities1__picture:hover {
    width: 98.266%;
    max-height: 340px;
  }
  .cities1__NFT {
    width: 80.27%;
    font-size: 18px;
    font-weight: 600;
  }

  .cities1__NFT:hover {
    width: 83.52%;
  }

  .description1 {
    color: #ffffff;
    grid-area: d1;
    width: 101.73%;
    margin-left: -6px;
  }

  .description1__artist {
    margin-top: 0;
    margin-left: 0;
  }

  .description1__name {
    letter-spacing: 0;
  }

  .description11 {
    color: #ffffff;
    grid-area: d2;
    width: 101.73%;
    margin-left: -6px;
  }

  .description11__paragraph1 {
    font-size: 16px;
  }

  .description11__paragraph2 {
    font-size: 16px;
  }

  .cities2 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 94px 340px 161px;
    grid-template-areas: "title d1" "picture d2" "button d2";
    column-gap: 28px;
    margin-left: 3.33%;
    margin-top: 72px;
  }

  .cities2__title {
    width: 98.266%;
    max-height: 46px;
    font-size: 42px;
    line-height: 109.52%;
    text-align: left;
    margin-top: 0;
    margin-left: 0;
  }

  .cities2__picture {
    width: 98.266%;
    max-height: 340px;
    box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
  }

  .cities2__picture:hover {
    width: 98.266%;
    max-height: 340px;
  }
  .cities2__NFT {
    width: 80.27%;
    font-size: 18px;
    font-weight: 600;
  }

  .cities2__NFT:hover {
    width: 83.52%;
  }

  .description2 {
    color: #ffffff;
    grid-area: d1;
    width: 101.73%;
    margin-left: -6px;
    margin-top: 0;
  }

  .description2__artist {
    margin-top: 0;
    margin-left: 0;
  }

  .description2__name {
    letter-spacing: 0;
  }

  .description22 {
    color: #ffffff;
    grid-area: d2;
    width: 101.73%;
    margin-left: -6px;
  }

  .description22__paragraph1 {
    font-size: 16px;
  }

  .description22__paragraph2 {
    font-size: 16px;
  }

  .cities3 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 140px 340px 412px;
    grid-template-areas: "title d1" "picture d2" "button d2";
    column-gap: 28px;
    margin-left: 3.33%;
    margin-top: 72px;
  }

  .cities3__title {
    width: 98.266%;
    max-height: 46px;
    font-size: 42px;
    line-height: 109.52%;
    text-align: left;
    margin-top: 22px;
    margin-left: 0;
  }

  .cities3__picture {
    width: 98.266%;
    max-height: 340px;
    box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
  }

  .cities3__picture:hover {
    width: 98.266%;
    max-height: 340px;
  }
  .cities3__NFT {
    width: 80.27%;
    font-size: 18px;
    font-weight: 600;
  }

  .cities3__NFT:hover {
    width: 83.52%;
  }

  .description3 {
    color: #ffffff;
    grid-area: d1;
    width: 101.73%;
    margin-left: -6px;
    margin-top: 48px;
  }

  .description3__artist {
    margin-top: 0;
    margin-left: 0;
  }

  .description3__name {
    letter-spacing: 0;
  }

  .description33 {
    color: #ffffff;
    grid-area: d2;
    width: 101.73%;
    margin-left: -6px;
  }

  .description33__paragraph1 {
    font-size: 16px;
  }

  .description33__paragraph2 {
    font-size: 16px;
  }

  .description33__paragraph3 {
    font-size: 16px;
  }

  .cities4 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 130px 225px 305px;
    grid-template-areas: "title d1" "picture d2" "button d2";
    column-gap: 28px;
    margin-left: 3.33%;
    margin-top: 72px;
  }

  .cities4__title {
    width: 98.266%;
    max-height: 46px;
    font-size: 42px;
    line-height: 109.52%;
    text-align: left;
    margin-top: 0;
    margin-left: 0;
  }

  .cities4__picture {
    width: 98.266%;
    max-height: 340px;
    box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
  }

  .cities4__picture:hover {
    width: 98.266%;
    max-height: 340px;
  }
  .cities4__NFT {
    width: 80.27%;
    font-size: 18px;
    font-weight: 600;
  }

  .cities4__NFT:hover {
    width: 83.52%;
  }

  .description4 {
    color: #ffffff;
    grid-area: d1;
    width: 101.73%;
    margin-left: -6px;
    margin-top: 45px;
  }

  .description4__artist {
    margin-top: 0;
    margin-left: 0;
  }

  .description4__name {
    letter-spacing: 0;
  }

  .description44 {
    color: #ffffff;
    grid-area: d2;
    width: 101.73%;
    margin-left: -6px;
  }

  .description44__paragraph1 {
    font-size: 16px;
  }

  .description44__paragraph2 {
    font-size: 16px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    max-width: 188px;
    padding: 0;
    margin: 0;
  }

  .header__logo {
    width: 12.6%;
    height: 23.77px;
    margin-top: 20px;
    margin-left: 0;
  }

  .header__vector {
    width: 100.33%;
    height: 11.1px;
    margin-top: 17.13px;
    margin-left: 0;
  }

  .hometown {
    max-width: 288px;
  }

  .hometown__title {
    width: 79.16%;
    max-height: 88px;
    margin-top: 50px;
    margin-left: 15.97%;
    font-size: 40px;
    line-height: 110%;
  }

  .hometown__subtitle {
    width: 100%;
    max-height: 40px;
    margin-top: 16px;
    margin-left: 5.55%;
    font-size: 16px;
    line-height: 125%;
  }

  .picture {
    max-width: 320px;
  }

  .picture__image {
    width: 100%;
    max-height: 62.5%;
    margin-top: 40px;
    margin-left: 0;
    -o-object-fit: fill;
    object-fit: fill;
  }

  .article {
    max-width: 288px;
  }

  .article__title {
    width: 100%;
    max-height: 175px;
    margin-top: 64px;
    margin-left: 5.55%;
    font-size: 32px;
    line-height: 109.375%;
  }

  .article__quote {
    width: 100%;
    max-height: 300px;
    margin-top: 40px;
    margin-left: 5.55%;
    font-size: 24px;
    line-height: 125%;
  }

  .article__name-author {
    width: 100%;
    max-height: 34px;
    margin-top: 10px;
    margin-left: 5.55%;
    font-size: 24px;
    line-height: 141.66%;
  }

  .article__content {
    width: 100%;
    max-height: 442px;
    margin-top: 32px;
    margin-left: 5.55%;
    font-size: 16px;
    line-height: 163%;
  }

  .footer__copyright {
    margin-top: 64px;
    max-height: 14px;
    font-size: 14px;
    line-height: 100%;
    margin-left: 0;
  }

  .mosaic {
    max-width: 90%;
    max-height: 1812px;
    margin-top: 38px;
  }

  .mosaic__align {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 8fr;
    row-gap: 12px;
    margin-left: 5.55%;
  }

  .mosaic__align_item {
    max-height: 216px;
    margin-left: 0;
  }

  .container {
    max-width: 320px;
    margin-top: 62px;
  }

  .cities1 {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 65px 119px 320px 688px 78px;
    grid-template-areas: "title" "d1" "picture" "d2" "button";
    row-gap: 12px;
    margin-left: 0;
  }

  .cities1__title {
    width: 90%;
    max-height: 35px;
    grid-area: title;
    color: #ffffff;
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-weight: 900;
    line-height: 109.37%;
    text-align: left;
    margin-top: 0;
    margin-left: 5%;
    margin-bottom: 0;
  }

  .description1 {
    color: #ffffff;
    grid-area: d1;
    width: 100%;
    margin-left: 5.55%;
  }

  .description1__artist {
    color: #aaaaaa;
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    margin-top: 0;
  }

  .description1__name {
    color: #ffffff;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    line-height: 122.22%;
    font-weight: 400;
    letter-spacing: 0;
    text-align: left;
    margin-top: 8px;
  }

  .cities1__picture {
    width: 100%;
    max-height: 320px;
    grid-area: picture;
  }

  .cities1__picture:hover {
    width: 100%;
    max-height: 320px;
    grid-area: picture;
  }

  .description11 {
    color: #ffffff;
    grid-area: d2;
    width: 90%;
    margin-top: 30px;
    margin-left: 5.55%;
  }

  .description11__paragraph1 {
    font-size: 16px;
    line-height: 163%;
    margin-bottom: 0;
  }

  .description11__paragraph2 {
    margin-top: 25px;
    font-size: 16px;
    line-height: 163%;
  }

  .cities1__NFT {
    grid-area: button;
    width: 90%;
    font-size: 14px;
    line-height: 290%;
    margin-top: 30px;
    margin-left: 5.55%;
  }

  .cities1__NFT:hover {
    grid-area: button;
    width: 90%;
    margin-top: 30px;
    font-size: 14px;
    line-height: 290%;
    margin-left: 5.55%;
  }

  .cities2 {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 65px 75px 320px 679px 78px;
    grid-template-areas: "title" "d1" "picture" "d2" "button";
    row-gap: 12px;
    margin-left: 0;
    margin-top: 50px;
  }

  .cities2__title {
    width: 90%;
    max-height: 35px;
    grid-area: title;
    color: #ffffff;
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-weight: 900;
    line-height: 109.37%;
    text-align: left;
    margin-top: 0;
    margin-left: 5%;
    margin-bottom: 0;
  }

  .description2 {
    color: #ffffff;
    grid-area: d1;
    width: 100%;
    margin-left: 5.55%;
  }

  .description1__artist {
    color: #aaaaaa;
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    margin-top: 0;
  }

  .description1__name {
    color: #ffffff;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    line-height: 122.22%;
    font-weight: 400;
    letter-spacing: 0;
    text-align: left;
    margin-top: 8px;
  }

  .description2__artist {
    color: #aaaaaa;
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    margin-top: 0;
  }

  .description2__name {
    color: #ffffff;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    line-height: 122.22%;
    font-weight: 400;
    letter-spacing: 0;
    text-align: left;
    margin-top: 8px;
  }

  .cities2__picture {
    width: 100%;
    max-height: 320px;
    grid-area: picture;
  }

  .cities2__picture:hover {
    width: 100%;
    max-height: 320px;
    grid-area: picture;
  }

  .description22 {
    color: #ffffff;
    grid-area: d2;
    width: 90%;
    margin-top: 30px;
    margin-left: 5.55%;
  }

  .description22__paragraph1 {
    font-size: 16px;
    line-height: 163%;
    margin-bottom: 0;
  }

  .description22__paragraph2 {
    margin-top: 25px;
    font-size: 16px;
    line-height: 163%;
  }

  .cities2__NFT {
    grid-area: button;
    width: 90%;
    font-size: 14px;
    line-height: 290%;
    margin-top: 30px;
    margin-left: 5.55%;
  }

  .cities2__NFT:hover {
    grid-area: button;
    width: 90%;
    margin-top: 30px;
    font-size: 14px;
    line-height: 290%;
    margin-left: 5.55%;
  }

  .cities3 {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100px 97px 320px 964px 78px;
    grid-template-areas: "title" "d1" "picture" "d2" "button";
    row-gap: 12px;
    margin-left: 0;
    margin-top: 50px;
  }

  .cities3__title {
    width: 90%;
    max-height: 35px;
    grid-area: title;
    color: #ffffff;
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-weight: 900;
    line-height: 109.37%;
    text-align: left;
    margin-top: 0;
    margin-left: 5%;
    margin-bottom: 0;
  }

  .description3 {
    color: #ffffff;
    grid-area: d1;
    width: 100%;
    margin-left: 5.55%;
  }

  .description3__artist {
    color: #aaaaaa;
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    margin-top: 0;
  }

  .description3__name {
    color: #ffffff;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    line-height: 122.22%;
    font-weight: 400;
    letter-spacing: 0;
    text-align: left;
    margin-top: 8px;
  }

  .cities3__picture {
    width: 100%;
    max-height: 320px;
    grid-area: picture;
  }

  .cities3__picture:hover {
    width: 100%;
    max-height: 320px;
    grid-area: picture;
  }

  .description33 {
    color: #ffffff;
    grid-area: d2;
    width: 90%;
    margin-top: 30px;
    margin-left: 5.55%;
  }

  .description33__paragraph1 {
    font-size: 16px;
    line-height: 163%;
    margin-bottom: 0;
  }

  .description33__paragraph2 {
    margin-top: 25px;
    font-size: 16px;
    line-height: 163%;
  }

  .description33__paragraph3 {
    margin-top: 25px;
    font-size: 16px;
    line-height: 163%;
  }

  .cities3__NFT {
    grid-area: button;
    width: 90%;
    font-size: 14px;
    line-height: 290%;
    margin-top: 30px;
    margin-left: 5.55%;
  }

  .cities3__NFT:hover {
    grid-area: button;
    width: 90%;
    margin-top: 30px;
    font-size: 14px;
    line-height: 290%;
    margin-left: 5.55%;
  }

  .cities4 {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100px 97px 212px 710px 78px;
    grid-template-areas: "title" "d1" "picture" "d2" "button";
    row-gap: 12px;
    margin-left: 0;
    margin-top: 50px;
  }

  .cities4__title {
    width: 90%;
    max-height: 35px;
    grid-area: title;
    color: #ffffff;
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-weight: 900;
    line-height: 109.37%;
    text-align: left;
    margin-top: 0;
    margin-left: 5%;
    margin-bottom: 0;
  }

  .description4 {
    color: #ffffff;
    grid-area: d1;
    width: 100%;
    margin-left: 5.55%;
  }

  .description4__artist {
    color: #aaaaaa;
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    margin-top: 0;
  }

  .description4__name {
    color: #ffffff;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    line-height: 122.22%;
    font-weight: 400;
    letter-spacing: 0;
    text-align: left;
    margin-top: 8px;
  }

  .cities4__picture {
    width: 100%;
    max-height: 320px;
    grid-area: picture;
  }

  .cities4__picture:hover {
    width: 100%;
    max-height: 320px;
    grid-area: picture;
  }

  .description44 {
    color: #ffffff;
    grid-area: d2;
    width: 90%;
    margin-top: 30px;
    margin-left: 5.55%;
  }

  .description44__paragraph1 {
    font-size: 16px;
    line-height: 163%;
    margin-bottom: 0;
  }

  .description44__paragraph2 {
    margin-top: 25px;
    font-size: 16px;
    line-height: 163%;
  }

  .cities4__NFT {
    grid-area: button;
    width: 90%;
    font-size: 14px;
    line-height: 290%;
    margin-top: 30px;
    margin-left: 5.55%;
  }

  .cities4__NFT:hover {
    grid-area: button;
    width: 90%;
    margin-top: 30px;
    font-size: 14px;
    line-height: 290%;
    margin-left: 5.55%;
  }
}
@media screen and (max-width: 544px) and (min-width: 471px) {
  .header {
    max-width: 221px;
  }

  .header__logo {
    width: 14.48%;
    height: 26.97px;
    margin-top: 25px;
    margin-left: 15%;
  }

  .header__vector {
    width: 115.31%;
    height: 12.59px;
    margin-top: 19.43px;
    margin-left: 15%;
  }

  .hometown {
    max-width: 504px;
  }

  .hometown__title {
    width: 75.2%;
    max-height: 123px;
    margin-top: 70px;
    margin-left: 20.34%;
    font-size: 57.5px;
    line-height: 106.96%;
  }

  .hometown__subtitle {
    width: 100%;
    max-height: 72px;
    margin-top: 20.5px;
    margin-left: 3.97%;
    font-size: 30px;
    line-height: 120%;
  }

  .picture {
    max-width: 544px;
  }

  .picture__image {
    width: 100%;
    max-height: 62.5%;
    margin-top: 35px;
    margin-left: 0;
    -o-object-fit: fill;
    object-fit: fill;
  }

  .article {
    max-width: 504px;
  }

  .article__title {
    width: 98.71%;
    max-height: 161px;
    margin-top: 77px;
    margin-left: 3.97%;
    font-size: 38.5px;
    line-height: 120.78%;
  }

  .article__quote {
    width: 100%;
    max-height: 218px;
    margin-top: 45px;
    margin-left: 3.97%;
    font-size: 24px;
    line-height: 141.67%;
  }

  .article__name-author {
    width: 100%;
    max-height: 34px;
    margin-top: 1px;
    margin-left: 3.97%;
    font-size: 24px;
    line-height: 141.67%;
  }

  .article__content {
    width: 100%;
    max-height: 312px;
    margin-top: 32px;
    margin-left: 3.97%;
    font-size: 16px;
    line-height: 163%;
  }

  .footer__copyright {
    max-height: 16px;
    margin-top: 86px;
    margin-left: 15%;
    font-size: 14px;
    line-height: 114.29%;
  }

  .mosaic {
    max-width: 58.82%;
    max-height: 2018px;
    margin-top: 51px;
  }

  .mosaic__align {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 8fr;
    row-gap: 14px;
    margin-left: 35%;
  }

  .mosaic__align_item {
    max-height: 240px;
    margin-left: 0;
  }

  .container {
    max-width: 330px;
    margin-top: 75px;
  }

  .cities1 {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 105px 133px 330px 605px 78px;
    grid-template-areas: "title" "d1" "picture" "d2" "button";
    margin-left: 33.94%;
  }

  .cities1__title {
    max-height: 37px;
    grid-area: title;
    color: #ffffff;
    font-family: "Inter", sans-serif;
    font-size: 37px;
    font-weight: 900;
    line-height: 109.45%;
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
  }

  .description1 {
    color: #ffffff;
    grid-area: d1;
    width: 95.15%;
  }

  .description1__artist {
    color: #aaaaaa;
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    margin-top: 0;
  }

  .description1__name {
    color: #ffffff;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    line-height: 122.22%;
    font-weight: 400;
    letter-spacing: 0;
    text-align: left;
    margin-top: 8px;
  }

  .cities1__picture {
    width: 100%;
    max-height: 330px;
    grid-area: picture;
  }

  .cities1__picture:hover {
    width: 100%;
    max-height: 330px;
    grid-area: picture;
  }

  .description11 {
    color: #ffffff;
    grid-area: d2;
    width: 100%;
    margin-top: 30px;
  }

  .description11__paragraph1 {
    font-size: 16px;
    line-height: 163%;
    margin-bottom: 0;
  }

  .description11__paragraph2 {
    margin-top: 25px;
    font-size: 16px;
    line-height: 163%;
  }

  .cities1__NFT {
    grid-area: button;
    width: 90%;
    font-size: 14px;
    line-height: 290%;
    margin-top: 30px;
  }

  .cities1__NFT:hover {
    grid-area: button;
    width: 90%;
    margin-top: 30px;
    font-size: 14px;
    line-height: 290%;
  }

  .cities2 {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 72px 92px 330px 570px 78px;
    grid-template-areas: "title" "d1" "picture" "d2" "button";
    margin-left: 33.94%;
    margin-top: 75px;
  }

  .cities2__title {
    max-height: 37px;
    grid-area: title;
    color: #ffffff;
    font-family: "Inter", sans-serif;
    font-size: 37px;
    font-weight: 900;
    line-height: 109.45%;
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
  }

  .description2 {
    color: #ffffff;
    grid-area: d1;
    width: 95.15%;
  }

  .description2__artist {
    color: #aaaaaa;
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    margin-top: 0;
  }

  .description2__name {
    color: #ffffff;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    line-height: 122.22%;
    font-weight: 400;
    letter-spacing: 0;
    text-align: left;
    margin-top: 8px;
  }

  .cities2__picture {
    width: 100%;
    max-height: 330px;
    grid-area: picture;
  }

  .cities2__picture:hover {
    width: 100%;
    max-height: 330px;
    grid-area: picture;
  }

  .description22 {
    color: #ffffff;
    grid-area: d2;
    width: 100%;
    margin-top: 30px;
  }

  .description22__paragraph1 {
    font-size: 16px;
    line-height: 163%;
    margin-bottom: 0;
  }

  .description22__paragraph2 {
    margin-top: 25px;
    font-size: 16px;
    line-height: 163%;
  }

  .cities2__NFT {
    grid-area: button;
    width: 90%;
    font-size: 14px;
    line-height: 290%;
    margin-top: 30px;
  }

  .cities2__NFT:hover {
    grid-area: button;
    width: 90%;
    margin-top: 30px;
    font-size: 14px;
    line-height: 290%;
  }

  .cities3 {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 105px 92px 330px 835px 78px;
    grid-template-areas: "title" "d1" "picture" "d2" "button";
    margin-left: 33.94%;
    margin-top: 75px;
  }

  .cities3__title {
    max-height: 37px;
    grid-area: title;
    color: #ffffff;
    font-family: "Inter", sans-serif;
    font-size: 37px;
    font-weight: 900;
    line-height: 109.45%;
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
  }

  .description3 {
    color: #ffffff;
    grid-area: d1;
    width: 95.15%;
  }

  .description3__artist {
    color: #aaaaaa;
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    margin-top: 0;
  }

  .description3__name {
    color: #ffffff;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    line-height: 122.22%;
    font-weight: 400;
    letter-spacing: 0;
    text-align: left;
    margin-top: 8px;
  }

  .align3__picture {
    width: 100%;
    max-height: 330px;
    grid-area: picture;
  }

  .align3__picture:hover {
    width: 100%;
    max-height: 330px;
    grid-area: picture;
  }

  .description33 {
    color: #ffffff;
    grid-area: d2;
    width: 100%;
    margin-top: 30px;
  }

  .description33__paragraph1 {
    font-size: 16px;
    line-height: 163%;
    margin-bottom: 0;
  }

  .description33__paragraph2 {
    margin-top: 25px;
    font-size: 16px;
    line-height: 163%;
  }

  .description33__paragraph3 {
    margin-top: 25px;
    font-size: 16px;
    line-height: 163%;
  }

  .cities3__NFT {
    grid-area: button;
    width: 90%;
    font-size: 14px;
    line-height: 290%;
    margin-top: 30px;
  }

  .cities3__NFT:hover {
    grid-area: button;
    width: 90%;
    margin-top: 30px;
    font-size: 14px;
    line-height: 290%;
  }

  .cities4 {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 105px 92px 219px 605px 78px;
    grid-template-areas: "title" "d1" "picture" "d2" "button";
    margin-left: 33.94%;
    margin-top: 75px;
  }

  .cities4__title {
    max-height: 37px;
    grid-area: title;
    color: #ffffff;
    font-family: "Inter", sans-serif;
    font-size: 37px;
    font-weight: 900;
    line-height: 109.45%;
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
  }

  .description4 {
    color: #ffffff;
    grid-area: d1;
    width: 95.15%;
  }

  .description4__artist {
    color: #aaaaaa;
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    margin-top: 0;
  }

  .description4__name {
    color: #ffffff;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    line-height: 122.22%;
    font-weight: 400;
    text-align: left;
    margin-top: 8px;
  }

  .cities4__picture {
    width: 100%;
    max-height: 330px;
    grid-area: picture;
  }

  .cities4__picture:hover {
    width: 100%;
    max-height: 330px;
    grid-area: picture;
  }

  .description44 {
    color: #ffffff;
    grid-area: d2;
    width: 100%;
    margin-top: 30px;
  }

  .description44__paragraph1 {
    font-size: 16px;
    line-height: 163%;
    margin-bottom: 0;
  }

  .description44__paragraph2 {
    margin-top: 25px;
    font-size: 16px;
    line-height: 163%;
  }

  .cities4__NFT {
    grid-area: button;
    width: 90%;
    font-size: 14px;
    line-height: 290%;
    margin-top: 30px;
  }

  .cities4__NFT:hover {
    grid-area: button;
    width: 90%;
    margin-top: 30px;
    font-size: 14px;
    line-height: 290%;
  }
}

@media screen and (max-width: 470px) and (min-width: 321px) {
  .header {
    max-width: 210.09px;
  }

  .header__logo {
    width: 15.3%;
    height: 25.912px;
    margin-top: 23.34px;
    align-self: center;
    margin-left: 20%;
  }

  .header__vector {
    width: 121.3%;
    height: 12.1px;
    margin-top: 18.67px;
    align-self: center;
    margin-left: 20%;
  }

  .hometown {
    max-width: 432.64px;
  }

  .hometown__title {
    width: 76.07%;
    max-height: 111.43px;
    margin-top: 63.39px;
    margin-left: 20.6%;
    font-size: 51.71px;
    line-height: 107.73%;
  }

  .hometown__subtitle {
    width: 100%;
    max-height: 61.42px;
    margin-top: 19.01px;
    margin-left: 4.32%;
    font-size: 25.37px;
    line-height: 121.04%;
  }

  .picture {
    max-width: 470px;
  }

  .picture__image {
    width: 100%;
    max-height: 62.5%;
    margin-top: 36.65px;
    margin-left: 0;
    -o-object-fit: fill;
    object-fit: fill;
  }

  .article {
    max-width: 432.64px;
  }

  .article__title {
    width: 98.99%;
    max-height: 165.62px;
    margin-top: 72.7px;
    margin-left: 4.32%;
    font-size: 36.35px;
    line-height: 117.46%;
  }

  .article__quote {
    width: 100%;
    max-height: 245.08px;
    margin-top: 43.34px;
    margin-left: 4.32%;
    font-size: 24px;
    line-height: 141.67%;
  }

  .article__name-author {
    width: 100%;
    max-height: 34px;
    margin-top: 3.97px;
    margin-left: 4.32%;
    font-size: 24px;
    line-height: 141.67%;
  }

  .article__content {
    width: 100%;
    max-height: 354.94px;
    margin-top: 32px;
    margin-left: 4.32%;
    font-size: 16px;
    line-height: 163%;
  }

  .footer__copyright {
    max-height: 14.66px;
    margin-top: 72px;
    font-size: 14px;
    line-height: 100%;
  }
}

@media screen and (max-width: 665px) and (min-width: 545px) {
  .header {
    max-width: 238.82px;
  }

  .header__logo {
    width: 13.4%;
    height: 28.69px;
    margin-top: 27.7px;
  }

  .header__vector {
    width: 106.71%;
    height: 13.4px;
    margin-top: 20.68px;
  }

  .hometown {
    max-width: 620.67px;
  }

  .hometown__title {
    width: 74.2%;
    max-height: 141.9px;
    margin-top: 80.8px;
    margin-left: 20.4%;
    font-size: 66.95px;
    line-height: 105.97%;
  }

  .hometown__subtitle {
    width: 100%;
    max-height: 72px;
    margin-top: 22.93px;
    margin-left: 3.57%;
    font-size: 30px;
    line-height: 120%;
  }

  .picture {
    max-width: 665px;
  }

  .picture__image {
    width: 100%;
    max-height: 62.5%;
    margin-top: 32.29px;
    margin-left: 0;
    -o-object-fit: fill;
    object-fit: fill;
  }

  .article {
    max-width: 620.67px;
  }

  .article__title {
    width: 98.39%;
    max-height: 153.43px;
    margin-top: 84.02px;
    margin-left: 3.57%;
    font-size: 42px;
    line-height: 114%;
  }

  .article__quote {
    width: 100%;
    max-height: 173.7px;
    margin-top: 47.7px;
    margin-left: 3.57%;
    font-size: 24px;
    line-height: 141.67%;
  }

  .article__name-author {
    width: 100%;
    max-height: 34px;
    margin-top: -3.86px;
    margin-left: 3.57%;
    font-size: 24px;
    line-height: 141.67%;
  }

  .article__content {
    width: 100%;
    max-height: 241.77px;
    margin-top: 32px;
    margin-left: 3.57%;
    font-size: 16px;
    line-height: 163%;
  }

  .footer__copyright {
    max-height: 15.54px;
    margin-top: 82.48px;
    font-size: 14px;
    line-height: 114.29%;
  }
}

@media screen and (max-width: 999px) and (min-width: 769px) {
  .header {
    max-width: 254.37px;
  }

  .header__logo {
    width: 12.58%;
    height: 30.99px;
    margin-top: 31.8px;
  }

  .header__vector {
    width: 100.18%;
    height: 14.42px;
    margin-top: 21.9px;
  }

  .hometown {
    max-width: 839.11px;
  }

  .hometown__title {
    width: 73.38%;
    max-height: 176.94px;
    margin-top: 90.47px;
    margin-left: 24.41%;
    font-size: 84.47px;
    line-height: 104.74%;
  }

  .hometown__subtitle {
    width: 85.81%;
    max-height: 72px;
    margin-top: 28.15px;
    margin-left: 16.62%;
    font-size: 30px;
    line-height: 120%;
  }

  .picture {
    max-width: 865.45px;
  }

  .picture__image {
    width: 100%;
    max-height: 62.5%;
    margin-top: 45.34px;
    margin-left: 7.71%;
    -o-object-fit: fill;
    object-fit: fill;
  }

  .article {
    max-width: 755.27px;
  }

  .article__title {
    width: 101%;
    max-height: 159.14px;
    margin-top: 90.9px;
    margin-left: 10.58%;
    font-size: 49px;
    line-height: 135.74%;
  }

  .article__quote {
    width: 96.4%;
    max-height: 135.84px;
    margin-top: 45.48px;
    margin-left: 10.58%;
    font-size: 24px;
    line-height: 141.67%;
  }

  .article__name-author {
    width: 96.05%;
    max-height: 34px;
    margin-top: 0.11px;
    margin-left: 10.58%;
    font-size: 24px;
    line-height: 141.67%;
  }

  .article__content {
    width: 95.45%;
    max-height: 181.79px;
    margin-top: 32px;
    margin-left: 10.58%;
    font-size: 16px;
    line-height: 163%;
  }

  .mosaic {
    max-width: 96.39%;
    max-height: 731px;
    margin-top: 86px;
    margin-left: 0;
  }
  .mosaic__align {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-left: 1.95%;
  }

  .mosaic__align_item {
    max-height: 233px;
    margin-left: 0;
  }

  .footer__copyright {
    max-height: 16px;
    margin-top: 89.8px;
    font-size: 14px;
    line-height: 114.29%;
  }
}

@media screen and (max-width: 1100px) and (min-width: 1025px) {
  .header {
    max-width: 254.54px;
  }

  .header__logo {
    width: 12.57%;
    height: 32px;
    margin-top: 32.45px;
  }

  .header__vector {
    width: 100.12%;
    height: 14.55px;
    margin-top: 21.96px;
  }

  .hometown {
    max-width: 891.18px;
  }

  .hometown__title {
    width: 73.3%;
    max-height: 183.8px;
    margin-top: 90.65px;
    margin-left: 26.01%;
    font-size: 87.9px;
    line-height: 104.55%;
  }

  .hometown__subtitle {
    width: 80.79%;
    max-height: 72px;
    margin-top: 29.29px;
    margin-left: 21.32%;
    font-size: 30px;
    line-height: 120%;
  }

  .picture {
    max-width: 908.06px;
  }

  .picture__image {
    width: 100%;
    max-height: 62.5%;
    margin-top: 50.88px;
    margin-left: 10.57%;
    -o-object-fit: fill;
    object-fit: fill;
  }

  .article {
    max-width: 791.32px;
  }

  .article__title {
    width: 99.42%;
    max-height: 163.53px;
    margin-top: 91.22px;
    margin-left: 13.19%;
    font-size: 50.52px;
    line-height: 130.83%;
  }

  .article__quote {
    width: 92.46%;
    max-height: 135.79px;
    margin-top: 43.85px;
    margin-left: 13.19%;
    font-size: 24px;
    line-height: 141.67%;
  }

  .article__name-author {
    width: 91.97%;
    max-height: 33.94px;
    margin-top: 3.04px;
    margin-left: 13.19%;
    font-size: 24px;
    line-height: 141.67%;
  }

  .article__content {
    width: 91.15%;
    max-height: 181.71px;
    margin-top: 32px;
    margin-left: 13.19%;
    font-size: 16px;
    line-height: 163%;
  }

  .footer__copyright {
    max-height: 16px;
    margin-top: 90.59px;
    font-size: 14px;
    line-height: 114.29%;
  }
}

@media screen and (max-width: 1024px) and (min-width: 1000px) {
  .header {
    max-width: 254.42px;
  }

  .header__logo {
    width: 12.58%;
    height: 31.08px;
    margin-top: 32px;
    margin-left: 35%;
  }

  .header__vector {
    width: 100.17%;
    height: 14.46px;
    margin-top: 21.92px;
    margin-left: 35%;
  }

  .hometown {
    max-width: 852px;
  }

  .hometown__title {
    width: 73.36%;
    max-height: 179px;
    margin-top: 90.53px;
    margin-left: 25%;
    font-size: 85.5px;
    line-height: 104.68%;
  }

  .hometown__subtitle {
    width: 84.51%;
    max-height: 72px;
    margin-top: 28.5px;
    margin-left: 18%;
    font-size: 30px;
    line-height: 120%;
  }

  .picture {
    max-width: 876px;
  }

  .picture__image {
    width: 100%;
    max-height: 62.5%;
    margin-top: 47px;
    margin-left: 8.44%;
    -o-object-fit: fill;
    object-fit: fill;
  }

  .article {
    max-width: 775px;
  }

  .article__title {
    width: 99.16%;
    max-height: 160.46px;
    margin-top: 91px;
    margin-left: 11%;
    font-size: 49.5px;
    line-height: 138.38%;
  }

  .article__quote {
    width: 94.06%;
    max-height: 135.86px;
    margin-top: 45px;
    margin-left: 11%;
    font-size: 24px;
    line-height: 141.67%;
  }

  .article__name-author {
    width: 93.68%;
    max-height: 33.95px;
    margin-top: 0.995px;
    margin-left: 11%;
    font-size: 24px;
    line-height: 141.67%;
  }

  .article__content {
    width: 93.03%;
    max-height: 181.77px;
    margin-top: 32px;
    margin-left: 11%;
    font-size: 16px;
    line-height: 163%;
  }

  .mosaic {
    max-width: 96.3%;
    max-height: 747.5px;
    margin-top: 88px;
    margin-left: 0;
  }
  .mosaic__align {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-left: 1.926%;
  }

  .mosaic__align_item {
    max-height: 238.5px;
    margin-left: 0;
  }

  .container {
    max-width: 853.5px;
    margin-top: 88px;
  }

  .cities1 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 158px 407px 96px;
    grid-template-areas: "title d1" "picture d2" "button d2";
    column-gap: 34px;
    margin-left: 10.08%;
  }

  .cities1__title {
    width: 98.266%;
    max-height: 46px;
    font-size: 57px;
    line-height: 107%;
    text-align: left;
    margin-top: 0;
    margin-left: 0;
  }

  .cities1__picture {
    width: 97.44%;
    max-height: 400px;
    box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
  }

  .cities1__picture:hover {
    width: 97.44%;
    max-height: 400px;
  }
  .cities1__NFT {
    width: 80.27%;
    font-size: 18px;
    font-weight: 600;
  }

  .cities1__NFT:hover {
    width: 83.52%;
  }

  .description1 {
    color: #ffffff;
    grid-area: d1;
    width: 101.73%;
    margin-left: 0;
    margin-top: 45px;
  }

  .description1__artist {
    margin-top: 0;
    margin-left: 0;
  }

  .description1__name {
    letter-spacing: 0;
    font-size: 17px;
    line-height: 129.41%;
  }

  .description11 {
    color: #ffffff;
    grid-area: d2;
    width: 101.73%;
    margin-left: -6px;
  }

  .description11__paragraph1 {
    font-size: 17px;
  }

  .description11__paragraph2 {
    font-size: 17px;
  }

  .cities2 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 115px 407px 105.52px;
    grid-template-areas: "title d1" "picture d2" "button d2";
    column-gap: 32.5px;
    margin-left: 10.08%;
    margin-top: 76px;
  }

  .cities2__title {
    width: 98.266%;
    font-size: 57px;
    line-height: 107%;
    text-align: left;
    margin-top: 0;
    margin-left: 0;
  }

  .cities2__picture {
    width: 97.44%;
    max-height: 400px;
    box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
  }

  .cities2__picture:hover {
    width: 97.44%;
    max-height: 400px;
  }
  .cities2__NFT {
    width: 80.27%;
    font-size: 18px;
    font-weight: 600;
  }

  .cities2__NFT:hover {
    width: 83.52%;
  }

  .description2 {
    color: #ffffff;
    grid-area: d1;
    width: 101.73%;
    margin-left: 0;
    margin-top: 0;
  }

  .description2__artist {
    margin-top: 0;
    margin-left: 0;
    margin-top: 0;
  }

  .description2__name {
    letter-spacing: 0;
    font-size: 17px;
    line-height: 129.41%;
  }

  .description22 {
    color: #ffffff;
    grid-area: d2;
    width: 101.73%;
    margin-left: -6px;
  }

  .description22__paragraph1 {
    font-size: 17px;
  }

  .description22__paragraph2 {
    font-size: 17px;
  }

  .cities3 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 158px 407px 305.5px;
    grid-template-areas: "title d1" "picture d2" "button d2";
    column-gap: 32.5px;
    margin-left: 10.08%;
    margin-top: 76px;
  }

  .cities3__title {
    width: 98.266%;
    font-size: 57px;
    line-height: 107%;
    text-align: left;
    margin-top: 0;
    margin-left: 0;
  }

  .cities3__picture {
    width: 97.44%;
    max-height: 400px;
    box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
  }

  .cities3__picture:hover {
    width: 97.44%;
    max-height: 400px;
  }
  .cities3__NFT {
    width: 80.27%;
    font-size: 18px;
    font-weight: 600;
  }

  .cities3__NFT:hover {
    width: 83.52%;
  }

  .description3 {
    color: #ffffff;
    grid-area: d1;
    width: 101.73%;
    margin-left: 0;
    margin-top: 70px;
  }

  .description3__artist {
    margin-top: 0;
    margin-left: 0;
  }

  .description3__name {
    letter-spacing: 0;
    font-size: 17px;
    line-height: 129.41%;
  }

  .description33 {
    color: #ffffff;
    grid-area: d2;
    width: 101.73%;
    margin-left: -6px;
  }

  .description33__paragraph1 {
    font-size: 17px;
  }

  .description33__paragraph2 {
    font-size: 17px;
  }

  .description33__paragraph3 {
    font-size: 17px;
  }

  .cities4 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 158px 265px 238px;
    grid-template-areas: "title d1" "picture d2" "button d2";
    column-gap: 34px;
    margin-left: 10.08%;
    margin-top: 76px;
  }

  .cities4__title {
    width: 98.266%;
    max-height: 46px;
    font-size: 57px;
    line-height: 107%;
    text-align: left;
    margin-top: 0;
    margin-left: 0;
  }

  .cities4__picture {
    width: 97.44%;
    max-height: 400px;
    box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
  }

  .cities4__picture:hover {
    width: 97.44%;
    max-height: 400px;
  }
  .cities4__NFT {
    width: 80.27%;
    font-size: 18px;
    font-weight: 600;
  }

  .cities4__NFT:hover {
    width: 83.52%;
  }

  .description4 {
    color: #ffffff;
    grid-area: d1;
    width: 101.73%;
    margin-left: 0;
    margin-top: 70px;
  }

  .description4__artist {
    margin-top: 0;
    margin-left: 0;
  }

  .description4__name {
    letter-spacing: 0;
    font-size: 17px;
    line-height: 129.41%;
  }

  .description44 {
    color: #ffffff;
    grid-area: d2;
    width: 101.73%;
    margin-left: -6px;
  }

  .description44__paragraph1 {
    font-size: 17px;
  }

  .description44__paragraph2 {
    font-size: 17px;
  }

  .footer__copyright {
    max-height: 16px;
    margin-top: 90px;
    margin-left: 10%;
    font-size: 14px;
    line-height: 114.29%;
  }
}

@media screen and (max-width: 1500px) and (min-width: 1281px) {
  .header {
    max-width: 255.2px;
  }

  .header__logo {
    width: 12.54%;
    height: 32.86px;
    margin-top: 34px;
  }

  .header__vector {
    width: 99.86%;
    height: 15.19px;
    margin-top: 22.27px;
  }

  .hometown {
    max-width: 1097.44px;
  }

  .hometown__title {
    margin-top: 91.56px;
    margin-left: 30.87%;
    font-size: 106px;
    line-height: 103.78%;
  }
  .hometown__subtitle {
    width: 65.61%;
    max-height: 72px;
    margin-top: 35.3px;
    margin-left: 35.54%;
    font-size: 30px;
    line-height: 120%;
  }

  .picture {
    max-width: 1076.81px;
  }

  .picture__image {
    width: 100%;
    max-height: 62.5%;
    margin-top: 80.03px;
    margin-left: 9.825%;
    -o-object-fit: fill;
    object-fit: fill;
  }

  .article {
    max-width: 877.26px;
  }

  .article__title {
    width: 100.64%;
    max-height: 186.61px;
    margin-top: 92.94px;
    margin-left: 11.47%;
    font-size: 58.24px;
    line-height: 82.57%;
  }

  .article__quote {
    width: 85.01%;
    max-height: 135.5px;
    margin-top: 35.27px;
    margin-left: 11.47%;
    font-size: 24px;
    line-height: 141.67%;
  }

  .article__name-author {
    width: 84.03%;
    max-height: 33.86px;
    margin-top: 18.47px;
    margin-left: 11.47%;
    font-size: 24px;
    line-height: 141.67%;
  }

  .article__content {
    width: 82.4%;
    max-height: 181.32px;
    margin-top: 32px;
    margin-left: 11.47%;
    font-size: 16px;
    line-height: 163%;
  }

  .mosaic {
    max-width: 96.3%;
    max-height: 515px;
    margin-top: 88px;
    margin-left: 0;
  }
  .mosaic__align {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-left: 1.926%;
  }

  .mosaic__align_item {
    max-height: 249.6px;
    margin-left: 0;
  }

  .cities1 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 158px 407px 96px;
    grid-template-areas: "title d1" "picture d2" "button d2";
    column-gap: 34px;
    margin-left: 20.38%;
  }

  .cities1__title {
    width: 98.266%;
    max-height: 46px;
    font-size: 57px;
    line-height: 107%;
    text-align: left;
    margin-top: 0;
    margin-left: 0;
  }

  .cities1__picture {
    width: 97.44%;
    max-height: 400px;
    box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
  }

  .cities1__picture:hover {
    width: 97.44%;
    max-height: 400px;
  }
  .cities1__NFT {
    width: 80.27%;
    font-size: 18px;
    font-weight: 600;
  }

  .cities1__NFT:hover {
    width: 83.52%;
  }

  .description1 {
    color: #ffffff;
    grid-area: d1;
    width: 101.73%;
    margin-left: 0;
    margin-top: 45px;
  }

  .description1__artist {
    margin-top: 0;
    margin-left: 0;
  }

  .description1__name {
    letter-spacing: 0;
    font-size: 17px;
    line-height: 129.41%;
  }

  .description11 {
    color: #ffffff;
    grid-area: d2;
    width: 101.73%;
    margin-left: -6px;
  }

  .description11__paragraph1 {
    font-size: 17px;
  }

  .description11__paragraph2 {
    font-size: 17px;
  }

  .cities2 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 115px 407px 105.52px;
    grid-template-areas: "title d1" "picture d2" "button d2";
    column-gap: 32.5px;
    margin-left: 20.38%;
    margin-top: 76px;
  }

  .cities2__title {
    width: 98.266%;
    font-size: 57px;
    line-height: 107%;
    text-align: left;
    margin-top: 0;
    margin-left: 0;
  }

  .cities2__picture {
    width: 97.44%;
    max-height: 400px;
    box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
  }

  .cities2__picture:hover {
    width: 97.44%;
    max-height: 400px;
  }
  .cities2__NFT {
    width: 80.27%;
    font-size: 18px;
    font-weight: 600;
  }

  .cities2__NFT:hover {
    width: 83.52%;
  }

  .description2 {
    color: #ffffff;
    grid-area: d1;
    width: 101.73%;
    margin-left: 0;
    margin-top: 0;
  }

  .description2__artist {
    margin-top: 0;
    margin-left: 0;
    margin-top: 0;
  }

  .description2__name {
    letter-spacing: 0;
    font-size: 17px;
    line-height: 129.41%;
  }

  .description22 {
    color: #ffffff;
    grid-area: d2;
    width: 101.73%;
    margin-left: -6px;
  }

  .description22__paragraph1 {
    font-size: 17px;
  }

  .description22__paragraph2 {
    font-size: 17px;
  }

  .cities3 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 158px 407px 305.5px;
    grid-template-areas: "title d1" "picture d2" "button d2";
    column-gap: 32.5px;
    margin-left: 20.38%;
    margin-top: 76px;
  }

  .cities3__title {
    width: 98.266%;
    font-size: 57px;
    line-height: 107%;
    text-align: left;
    margin-top: 0;
    margin-left: 0;
  }

  .cities3__picture {
    width: 97.44%;
    max-height: 400px;
    box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
  }

  .cities3__picture:hover {
    width: 97.44%;
    max-height: 400px;
  }
  .cities3__NFT {
    width: 80.27%;
    font-size: 18px;
    font-weight: 600;
  }

  .cities3__NFT:hover {
    width: 83.52%;
  }

  .description3 {
    color: #ffffff;
    grid-area: d1;
    width: 101.73%;
    margin-left: 0;
    margin-top: 70px;
  }

  .description3__artist {
    margin-top: 0;
    margin-left: 0;
  }

  .description3__name {
    letter-spacing: 0;
    font-size: 17px;
    line-height: 129.41%;
  }

  .description33 {
    color: #ffffff;
    grid-area: d2;
    width: 101.73%;
    margin-left: -6px;
  }

  .description33__paragraph1 {
    font-size: 17px;
  }

  .description33__paragraph2 {
    font-size: 17px;
  }

  .description33__paragraph3 {
    font-size: 17px;
  }

  .cities4 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 158px 265px 238px;
    grid-template-areas: "title d1" "picture d2" "button d2";
    column-gap: 34px;
    margin-left: 20.38%;
    margin-top: 76px;
  }

  .cities4__title {
    width: 98.266%;
    max-height: 46px;
    font-size: 57px;
    line-height: 107%;
    text-align: left;
    margin-top: 0;
    margin-left: 0;
  }

  .cities4__picture {
    width: 97.44%;
    max-height: 400px;
    box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
  }

  .cities4__picture:hover {
    width: 97.44%;
    max-height: 400px;
  }
  .cities4__NFT {
    width: 80.27%;
    font-size: 18px;
    font-weight: 600;
  }

  .cities4__NFT:hover {
    width: 83.52%;
  }

  .description4 {
    color: #ffffff;
    grid-area: d1;
    width: 101.73%;
    margin-left: 0;
    margin-top: 70px;
  }

  .description4__artist {
    margin-top: 0;
    margin-left: 0;
  }

  .description4__name {
    letter-spacing: 0;
    font-size: 17px;
    line-height: 129.41%;
  }

  .description44 {
    color: #ffffff;
    grid-area: d2;
    width: 101.73%;
    margin-left: -6px;
  }

  .description44__paragraph1 {
    font-size: 17px;
  }

  .description44__paragraph2 {
    font-size: 17px;
  }

  .footer__copyright {
    max-height: 16px;
    margin-top: 93.72px;
    font-size: 14px;
    line-height: 114.29%;
  }
}
